* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: 'Roboto', sans-serif;
  color: #5d5d5d;
  font-size: .95rem; }

figure {
  margin: 0; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

h1, h2, h3, h4, h5, h6, p {
  margin: 1.5rem 0;
  line-height: 1.6; }

a {
  text-decoration: none; }

a:hover {
  color: #3a86c8; }

.link {
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  color: #2d6ca2;
  border-bottom: 1px dotted #2d6ca2; }

.link:hover {
  color: rgba(45, 108, 162, 0.8);
  border-bottom: 0; }

.tooltip {
  position: relative; }

.tooltip:hover::after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 2.2rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0px 8px 15px -6px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 15px -6px rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.6);
  font-family: 'Roboto', sans-serif;
  font-size: .8rem;
  padding: .5rem 1rem;
  -webkit-animation: slideUpTooltip .8s;
          animation: slideUpTooltip .8s; }

@-webkit-keyframes slideUpTooltip {
  0%,
  60% {
    opacity: 0;
    -webkit-transform: translate(-50%, 1rem);
            transform: translate(-50%, 1rem); }
  100% {
    opacity: 1;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0); } }

@keyframes slideUpTooltip {
  0%,
  60% {
    opacity: 0;
    -webkit-transform: translate(-50%, 1rem);
            transform: translate(-50%, 1rem); }
  100% {
    opacity: 1;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0); } }

.btn {
  background-color: #6191bf;
  color: #fff;
  line-height: 1.1;
  padding: .7rem 1.6rem;
  border-radius: .2rem;
  border: 0;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
  cursor: pointer; }

.btn:hover {
  background-color: #85aace;
  -webkit-box-shadow: none;
          box-shadow: none; }

textarea {
  resize: vertical;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  min-height: 10rem; }

input:not([type]),
input[type=date],
input[type=datetime-local],
input[type=datetime],
input[type=email],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
textarea {
  display: block;
  background-color: #f5f5f5;
  border-radius: .2rem;
  border: 1px solid transparent;
  color: #777;
  padding: .8rem 1rem;
  width: 100%;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

input:not([type]):focus,
input[type=date]:focus,
input[type=datetime-local]:focus,
input[type=datetime]:focus,
input[type=email]:focus,
input[type=number]:focus,
input[type=password]:focus,
input[type=search]:focus,
input[type=tel]:focus,
input[type=text]:focus,
input[type=time]:focus,
input[type=url]:focus,
textarea:focus {
  outline: none;
  background-color: #eaeaea; }

.input-field {
  position: relative;
  margin-top: 1.9rem; }

.input-field input + label,
.input-field textarea + label {
  color: #bbb;
  position: absolute;
  top: .8rem;
  margin-left: 1.1rem;
  pointer-events: none;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

.input-field input:focus + label,
.input-field input.active + label,
.input-field textarea:focus + label,
.input-field textarea.active + label {
  color: #aaa;
  font-size: .8rem;
  margin-left: 0;
  -webkit-transform: translateY(-210%);
      -ms-transform: translateY(-210%);
          transform: translateY(-210%); }

body .header-fixed {
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

body .header-logo {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 0.48s;
          animation-delay: 0.48s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

body .header-title {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 1.08s;
          animation-delay: 1.08s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

body .header-social {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 1.68s;
          animation-delay: 1.68s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

.header-fixed {
  -webkit-animation-name: slideRight;
          animation-name: slideRight;
  -webkit-animation-timing-function: cubic-bezier(0.94, 0.01, 0.65, 1);
          animation-timing-function: cubic-bezier(0.94, 0.01, 0.65, 1); }

.header-logo {
  -webkit-animation-name: slideUp;
          animation-name: slideUp;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease; }

.header-title {
  -webkit-animation-name: focus;
          animation-name: focus;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out; }

.header-social {
  -webkit-animation-name: focus;
          animation-name: focus;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out; }

.has-animation {
  opacity: 0; }

body:not(.loaded) .has-animation {
  -webkit-animation: none;
          animation: none; }

@-webkit-keyframes slideRight {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1; } }

@keyframes slideRight {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1; } }

@-webkit-keyframes slideUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(25%);
            transform: translateY(25%); }
  40% {
    opacity: 0; }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@keyframes slideUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(25%);
            transform: translateY(25%); }
  40% {
    opacity: 0; }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@-webkit-keyframes focus {
  0% {
    opacity: 0;
    -webkit-filter: blur(2rem);
            filter: blur(2rem); }
  100% {
    opacity: 1;
    -webkit-filter: blur(0);
            filter: blur(0); } }

@keyframes focus {
  0% {
    opacity: 0;
    -webkit-filter: blur(2rem);
            filter: blur(2rem); }
  100% {
    opacity: 1;
    -webkit-filter: blur(0);
            filter: blur(0); } }

.header {
  text-align: center;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  max-width: 100%;
  width: 100%; }

.header-fixed {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  max-width: 100%;
  padding: 2rem;
  background-color: #fff;
  background-image: url("../images/header-bg-2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.header-logo {
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s; }

.header-logo-img {
  width: 4rem; }

.header-logo:hover {
  -webkit-filter: blur(0.5rem);
          filter: blur(0.5rem); }

.header-title {
  max-width: 17rem;
  color: #fff;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.1;
  margin: 3rem 0; }

.header-title-wrap {
  display: block; }

.header-title-wrap:first-child {
  margin-bottom: 1rem; }

.header-social:hover .header-social-link {
  opacity: .5;
  -webkit-filter: blur(0.2rem);
          filter: blur(0.2rem); }

.header-social-link {
  color: #eee !important;
  font-size: 1.5rem;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease; }

.header-social:hover .header-social-link:hover {
  opacity: 1;
  -webkit-filter: blur(0);
          filter: blur(0); }

.header-social-link + .header-social-link {
  margin-left: 2rem; }

@media only screen and (min-width: 48em) {
  .flex-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .flex-wrapper .header {
    -ms-flex-preferred-size: 36%;
        flex-basis: 36%;
    max-width: 36%;
    width: 36%;
    height: 100vh; }
  .flex-wrapper .header-fixed {
    position: fixed;
    width: inherit;
    height: inherit;
    padding: 4rem 1rem;
    background-position: center top; }
  .flex-wrapper .content {
    -ms-flex-preferred-size: 64%;
        flex-basis: 64%;
    max-width: 64%; } }

.container {
  width: 85%; }

.row {
  margin-left: -1.5rem;
  margin-right: -1.5rem; }

.row .col-md, .row .col-md-1, .row .col-md-2, .row .col-md-3, .row .col-md-4, .row .col-md-5, .row .col-md-6, .row .col-md-7, .row .col-md-8, .row .col-md-9, .row .col-md-10, .row .col-md-11, .row .col-md-12, .row .col-md-offset-0, .row .col-md-offset-1, .row .col-md-offset-2, .row .col-md-offset-3, .row .col-md-offset-4, .row .col-md-offset-5, .row .col-md-offset-6, .row .col-md-offset-7, .row .col-md-offset-8, .row .col-md-offset-9, .row .col-md-offset-10, .row .col-md-offset-11, .row .col-md-offset-12 {
  padding-left: 1.5rem;
  padding-right: 1.5rem; }

.section {
  padding: 2rem 0; }

.section .title:first-of-type {
  margin: 0 0 1.5rem; }

.title {
  font-size: 1.5rem;
  font-weight: 700; }

.navbar {
  padding: 3rem 0; }

.navbar + .section {
  padding-top: 0; }

.navbar-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0; }

.navbar-menu-item {
  list-style: none; }

.navbar-menu-item + .navbar-menu-item {
  margin-left: 2rem; }

.navbar-menu-link {
  color: #333; }

.navbar-menu-link:hover {
  color: #666666; }

.projects .project-item {
  margin-top: 1rem; }

.projects .project-link {
  display: block;
  position: relative; }

.projects .project-link .project-img {
  border-radius: .3rem; }

.projects .project-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: inset 0 0 95px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 0 95px rgba(0, 0, 0, 0.2);
  border-radius: .3rem;
  opacity: 0;
  -webkit-transition: opacity .3s ease-in-out;
  -o-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out; }

.projects .project-link::after {
  content: "Visitar site";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  font-size: .8rem;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  background-color: rgba(255, 255, 255, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.4);
  padding: .5rem 1rem;
  opacity: 0;
  -webkit-filter: blur(0.2rem);
          filter: blur(0.2rem);
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }

.projects .project-link:hover::before {
  opacity: 1; }

.projects .project-link:hover::after {
  opacity: 1;
  -webkit-filter: blur(0);
          filter: blur(0); }

.projects .project-title {
  font-size: 1rem;
  font-weight: 700;
  margin: .5rem 0;
  line-height: 1.1; }

.projects .project-text {
  font-size: .85rem;
  line-height: 1.1;
  margin: .5rem 0; }
