.btn {
  background-color: #62c380;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.1;
  height: auto;
  padding: .7rem 2rem;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: .4rem;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease; }

.btn:hover {
  background-color: #87d19e;
  -webkit-box-shadow: none;
          box-shadow: none; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: 'Open Sans', sans-serif;
  color: #5d5d5d; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

a {
  color: #2d6ca2;
  text-decoration: none;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }

a:hover {
  color: #3a86c8; }

@media only screen and (min-width: 48em) {
  .flex-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .flex-wrapper .header {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
    max-width: 30%; }
  .flex-wrapper .content {
    -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
    max-width: 70%; } }

.section {
  padding: 2rem 0; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem 0;
  background-color: #efefef;
  background-color: #efefef;
  background-image: url("../images/header-bg.jpg");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat; }

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.header-logo {
  color: #333;
  font-size: 1.5rem;
  font-weight: 300; }

.header-logo:hover {
  color: gray; }

.header-logo img {
  width: 3rem; }

.navbar {
  margin-top: 1.5rem; }

.navbar-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0; }

.navbar-menu-item {
  list-style: none; }

.navbar-menu-item + .navbar-menu-item {
  margin-left: 2rem; }

.navbar-menu-link {
  color: #333; }

.navbar-menu-link:hover {
  color: #666666; }

.projects-row {
  margin: 0; }

.projects .project-link {
  display: block;
  position: relative; }

.projects .project-link .project-img {
  border-radius: .4rem; }

.projects .project-title {
  font-weight: 600; }

@media only screen and (max-width: 48em) {
  .container {
    width: 88%; } }

@media only screen and (min-width: 64em) {
  .container {
    width: 44em; } }

@media only screen and (min-width: 75em) {
  .container {
    width: 52em; } }
