//////////
// VARS //
//////////
@import common/variables.sass


////////////
// MIXINS //
////////////
@import common/mixins.sass


/////////////
// GLOBAL //
/////////////
@import common/global.sass


////////////////
// COMPONENTS //
////////////////
@import common/components.sass


////////////
// HEADER //
////////////
.header
    text-align: center
    flex-basis: 100%
    max-width: 100%
    width: 100%

    &-fixed
        flex-basis: 100%
        max-width: 100%
        padding: 2rem
        +background-image('../images/header-bg-2.jpg', #fff)
        display: flex
        flex-wrap: wrap
        align-items: center
        flex-direction: column
        justify-content: space-between

    &-logo
        transition: 1s
        animation-name: slideUp
        animation-duration: 2.2s

        &-img
            width: 4rem

        &:hover
            filter: blur(.5rem)

    &-title
        max-width: 17rem
        color: #fff
        text-shadow: 0 0 20px rgba(0,0,0,.1)
        font-size: 1.3rem
        font-weight: 500
        line-height: 1.1
        margin: 3rem 0

        &-wrap
            display: block

            &:first-child
                margin-bottom: 1rem

    &-social

        &:hover &-link
            opacity: .5
            filter: blur(.2rem)

        &-link
            color: #eee !important
            font-size: 1.5rem
            transition: .3s ease

            .header-social:hover &:hover
                opacity: 1
                filter: blur(0)

            & + &
                margin-left: 2rem


@media only screen and (min-width: 48em)
    .flex-wrapper
        display: flex
        flex-wrap: wrap

        .header
            flex-basis: $header-width
            max-width: $header-width
            width: $header-width
            height: 100vh

            &-fixed
                position: fixed
                width: inherit
                height: inherit
                padding: 4rem 1rem
                background-position: center top

        .content
            flex-basis: 100% - $header-width
            max-width: 100% - $header-width



// Enquanto o site não for carregado não mostra nenhuma animação
body:not(.loaded)
    // .animate-onload,
    // .animate-onload *
        animation: none !important
        opacity: 0

// Carrega as animações uma após a outra
.header-fixed.is-visible
    // animation-timing-function: cubic-bezier(0.85, 0, 0.57, 1)
    // animation: slideRight .8s cubic-bezier(0.79, 0.10, 0.59, 0.93)
    animation: slideRight .8s cubic-bezier(0.94, 0.01, 0.65, 1)

.header-logo.is-visible
    animation: slideUp 1.6s ease-in-out

.header-title.is-visible
    // animation: focus 2.4s cubic-bezier(.85, .46, .45, .94) forwards
    animation: focus 2.2s cubic-bezier(.85, .46, .45, .94)
    // animation: focus 2s ease-in

.header-social.is-visible
    animation: focus 2.2s cubic-bezier(0.4, 0, 1, 1)
    // animation: focus 2s ease-in

.animate-onload:not(.is-visible)
    animation: none !important
    opacity: 0


/////////////
// CONTENT //
/////////////
.container
    width: 88%

.section
    padding: 2rem 0

    .title:first-of-type
        margin: 0 0 1.5rem

.title
    font-size: 1.5rem
    font-weight: 700


// Navbar
.navbar
    padding: 3rem 0

    & + .section
        padding-top: 0

    &-menu
        display: flex
        margin: 0
        padding: 0

        &-item
            list-style: none

            & + &
                margin-left: 2rem

        &-link
            color: #333

            &:hover
                color: lighten(#333, 20%)


// Projects
.projects
    &-row
        margin: 0

    .project-link
        display: block
        position: relative

        .project-img
            border-radius: .4rem

    .project-title
        font-weight: 700

    .project-text
        // color: #787878

    // .project-details
        position: absolute
        left: 0
        bottom: 0
        width: 100%
        height: auto
        background-color: rgba(0,0,0,.4)
        color: #fff
        padding: 1rem


// Contact
.contact
