//////////
// VARS //
//////////
@import common/variables.sass


////////////
// MIXINS //
////////////
@import common/mixins.sass


/////////////
// GLOBAL //
/////////////
@import common/global.sass


////////////////
// COMPONENTS //
////////////////
@import common/components.sass


////////////
// HEADER //
////////////
.header
    text-align: center
    flex-basis: 100%
    max-width: 100%
    width: 100%

    &-fixed
        flex-basis: 100%
        max-width: 100%
        padding: 2rem
        +background-image('../images/header-bg.jpg', #fff)
        display: flex
        flex-wrap: wrap
        align-items: center
        flex-direction: column
        justify-content: space-between

    &-logo
        transition: 1s
        animation-name: slideUp
        animation-duration: 2s

        &-img
            width: 4rem

        &:hover
            // opacity: .5
            filter: blur(.5rem)

    &-name
        color: #565656
        font-size: 1.2rem
        font-style: italic
        text-transform: uppercase
        margin-top: 1rem

        .first-name
            color: $color-blue
            font-weight: 800

    &-social
        margin-top: 2rem

        &:hover &-link
            opacity: .5
            filter: blur(.2rem)

        &-link
            color: #353535
            font-size: 1.5rem
            transition: .3s ease
            animation-name: blurApear
            animation-duration: 2.5s

            .header-social:hover &:hover
                opacity: 1
                filter: blur(0)

            & + &
                margin-left: 2rem


@media only screen and (min-width: 48em)
    .flex-wrapper
        display: flex
        flex-wrap: wrap

        .header
            flex-basis: 30%
            max-width: 30%
            width: 30%
            height: 100vh

            &-fixed
                position: fixed
                width: inherit
                height: inherit
                padding: 4rem 1rem

            &-social-link
                color: #eee

        .content
            flex-basis: 70%
            max-width: 70%

@keyframes slideUp
    0%
        opacity: 0
        transform: translateY(2rem)
    20%
        opacity: 0
    100%
        opacity: 1
        transform: translateY(0)

@keyframes blurApear
    0%
        opacity: 0
        filter: blur(3rem)
    25%
        opacity: 0
    100%
        opacity: 1
        filter: blur(0)



/////////////
// CONTENT //
/////////////
.container
    width: 88%

.section
    padding: 2rem 0

.title
    margin: 0 0 1rem


// Navbar
.navbar
    padding: 3rem 0

    & + .section
        padding-top: 0

    &-menu
        display: flex
        margin: 0
        padding: 0

        &-item
            list-style: none

            & + &
                margin-left: 2rem

        &-link
            color: #333

            &:hover
                color: lighten(#333, 20%)


// Projects
.projects
    &-row
        margin: 0

    .project-link
        display: block
        position: relative

        .project-img
            border-radius: .4rem

    .project-title
        font-weight: 600

    .project-text
        // color: #787878

    // .project-details
        position: absolute
        left: 0
        bottom: 0
        width: 100%
        height: auto
        background-color: rgba(0,0,0,.4)
        color: #fff
        padding: 1rem


// Contact
.contact
