//////////
// VARS //
//////////
@import common/variables.sass

////////////
// MIXINS //
////////////
@import common/mixins.sass

////////////////
// COMPONENTS //
////////////////
@import common/components.sass

/////////////
// GLOBAL //
/////////////
@import common/global.sass

/////////////
// CONTENT //
/////////////
@media only screen and (min-width: 48em)
    .flex-wrapper
        display: flex
        flex-wrap: wrap

        .header
            flex-basis: 30%
            max-width: 30%

        .content
            flex-basis: 70%
            max-width: 70%

.section
    padding: 2rem 0

.title
    // color: $color-title


////////////
// Header //
////////////
.header
    display: flex
    flex-wrap: wrap
    justify-content: center
    padding: 2rem 0
    background-color: #efefef
    +background-image('../images/header-bg.jpg', #efefef)

    .container
        display: flex
        justify-content: center
        align-items: center
        flex-wrap: wrap

    &-logo
        color: #333
        font-size: 1.5rem
        font-weight: 300

        &:hover
            color: lighten(#333, 30%)

        img
            width: 3rem



////////////
// Main //
////////////


.navbar
    margin-top: 1.5rem

    &-menu
        display: flex
        margin: 0
        padding: 0

        &-item
            list-style: none

            & + &
                margin-left: 2rem

        &-link
            color: #333

            &:hover
                color: lighten(#333, 20%)


// Projects
.projects
    &-row
        margin: 0

    .project-link
        display: block
        position: relative

        .project-img
            border-radius: .4rem

    .project-title
        font-weight: 600

    .project-text
        // color: #787878

    // .project-details
        position: absolute
        left: 0
        bottom: 0
        width: 100%
        height: auto
        background-color: rgba(0,0,0,.4)
        color: #fff
        padding: 1rem



@media only screen and(max-width: 48em)
    .container
        width: 88%

@media only screen and (min-width: 64em)
    .container
        width: 44em

@media only screen and (min-width: 75em)
    .container
        width: 52em
