header.header
    
    .header-fixed.has-animation
            
        a.header-logo.has-animation(href='#')
            img.header-logo-img(src='images/logo-matheus-plessmann.svg', alt='Matheus Plessmann')
            
        h1.header-title.has-animation
            span.header-title-wrap
                | Oi, eu sou o Matheus,
            span.header-title-wrap
                | um desenvolvedor Front End que ama criar coisas
            
        .header-social.has-animation
            a.header-social-link.fa.fa-github.tooltip(href='https://github.com/maplessmann', target='_blank', data-tooltip='Github')
            a.header-social-link.fa.fa-linkedin-square.tooltip(href='https://www.linkedin.com/in/matheus-plessmann-329283a0', target='_blank', data-tooltip='Linkedin')
            a.header-social-link.fa.fa-codepen.tooltip(href='https://codepen.io/maplessmann/', target='_blank', data-tooltip='Codepen')
            a.header-social-link.fa.fa-telegram.tooltip(href='https://telegram.me/maplessmann', target='_blank', data-tooltip='Telegram')
