header.header
    
    .header-fixed
            
        a.header-logo(href='#')
            img.header-logo-img(src='images/logo-matheus-plessmann.svg', alt='Matheus Plessmann')
            .header-name
                span.first-name Matheus
                | Plessmann
        //- .tag
            Front-End
            
        .header-social
            a.header-social-link.fa.fa-github(href='https://github.com/maplessmann', target='_blank')
            a.header-social-link.fa.fa-linkedin-square(href='https://www.linkedin.com/in/matheus-plessmann-329283a0', target='_blank')
            a.header-social-link.fa.fa-codepen(href='https://codepen.io/maplessmann/', target='_blank')
            a.header-social-link.fa.fa-telegram(href='https://telegram.me/maplessmann', target='_blank')
