header.header
    .container
        
        a.header-logo(href='#')
            img(src='images/logo-matheus-plessmann.svg', alt='Matheus Plessmann')
            
        nav.header-navbar
            ul.header-menu
                li.header-menu-item
                    a.header-menu-link(href='#') Eu
                li.header-menu-item
                    a.header-menu-link(href='#') Projetos recentes
                li.header-menu-item
                    a.header-menu-link(href='#') Contato
