header.header
    
    .header-fixed.has-animation
        figure.has-animation.header-logo
            img.header-image(src='images/matheus.jpg')
            
        h1.header-title.has-animation
            span.header-title-wrap
                | Prazer, eu sou o Matheus,
            span.header-title-wrap
                | um desenvolvedor Front End fanático por código
            
        .header-social.has-animation
            a.header-social-link.fa.fa-github.tooltip(href='https://github.com/maplessmann', target='_blank', data-tooltip='Github')
            a.header-social-link.fa.fa-linkedin-square.tooltip(href='https://www.linkedin.com/in/matheus-plessmann-329283a0', target='_blank', data-tooltip='Linkedin')
            a.header-social-link.fa.fa-codepen.tooltip(href='https://codepen.io/maplessmann/', target='_blank', data-tooltip='Codepen')
            a.header-social-link.fa.fa-telegram.tooltip(href='https://telegram.me/maplessmann', target='_blank', data-tooltip='Telegram')
