doctype html
html(lang='pt-br')
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="theme-color", content="#4c8bc1")
            
        meta(property='og:url', content='http://matheusplessmann.com')
        meta(property='og:type', content='article')
        meta(property='og:title', content='Matheus Plessmann - Desenvolvedor Front-End')
        meta(property='og:description', content='Eu sou um Desenvolvedor Front-End especializado em criar interfaces web responsivas, sempre focadas na experiência com o usuário. Mantendo um código semântico, escalável e funcional.')
        meta(property='og:image', content='images/banner.png')
            
        title Matheus Plessmann - Desenvolvedor Front-End
        
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Raleway:400,500,700')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css')
        link(rel='stylesheet', href='css/libs/flexboxgrid.css')
        link(rel='stylesheet', href='css/main.css')
            
        link(rel="icon", href="images/favicon-32x32.png", type="image/png", sizes="32x32")
        link(rel="icon", href="images/favicon-16x16.png", type="image/png", sizes="16x16")

        
    body.flex-wrapper
        block content
            
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
        script(src='js/main.js')
