doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="theme-color", content="#555")
            
        meta(property='og:url', content='http://matheusplessmann.com')
        meta(property='og:type', content='article')
        meta(property='og:title', content='Matheus Plessmann | Desenvolvedor Front End')
        meta(property='og:description', content='Desenvolvedor Front End, amante de CSS e UX!')
        meta(property='og:image', content='img/banner.png')
            
        title Matheus Plessmann | Desenvolvedor Front End
        
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css')
        link(rel='stylesheet', href='css/libs/flexboxgrid.css')
        link(rel='stylesheet', href='css/main.css')
        link(rel='stylesheet', href='fonts/font-awesome/css/font-awesome.min.css')
        
    body.flex-wrapper
        block content
        
        script(src='js/main.js')
