extends includes/template.pug

//- Mixins
mixin projectItem(url, img, title, text)
    .col-xs-12.col-md
        .project-item
            figure
                a.project-link(href= url)
                    img.project-img(src= img, alt='')
                figcaption
                    p.project-title= title
                    p.project-text= text

block content
    include includes/header.pug
    
    main.content
        .container
            nav.navbar
                ul.navbar-menu.center-xs.end-sm
                    li.navbar-menu-item
                        a.navbar-menu-link(href='#') Eu
                    li.navbar-menu-item
                        a.navbar-menu-link(href='#') Projetos recentes
                    li.navbar-menu-item
                        a.navbar-menu-link(href='#') Contato
            
            section.section.myself
                h2.title Um pouco sobre mim
                p Oi, meu nome é Matheus Plessmann de Oliveira. Sou um Desenvolvedor Front End que ama criar coisas.
                p Minhas pricipais habilidades: HTML5, CSS3, JavaScript, SASS, Gulp, jQuery, Git, NPM
                
            section.section.projects
                h2.title Meus projetos recentes
                .row.projects-row
                    +projectItem('#', 'images/project-1.jpg', 'Título', 'Texto')
                    +projectItem('#', 'images/project-2.jpg', 'Título', 'Texto')
                    +projectItem('#', 'images/project-3.jpg', 'Título', 'Texto')
                .row.projects-row
                    +projectItem('#', 'images/project-2.jpg', 'Título', 'Texto')
                    +projectItem('#', 'images/project-3.jpg', 'Título', 'Texto')
                    +projectItem('#', 'images/project-1.jpg', 'Título', 'Texto')
                    
            section.section.contact
                h2.title Entre em contato
                p Se você se interessou pelo meu trabalho e quer falar comigo, me envie uma mensagem pelo formulário abaixo ou entre em contato pelos outros meios.
                .row
                    .col-xs-12.col-md-7
                        form.row(action='https://formspree.io/maplessmann@gmail.com', method='POST')
                            .input-field.col-xs-12.col-md
                                input(type='text', name='name', placeholder='Nome')
                            .input-field.col-xs-12.col-md
                                input(type='email', name='_replyto', placeholder='Email')
                            .input-field.col-xs-12
                                textarea(name='message', placeholder='Sua mensagem')
                            .input-field.col-xs-12
                                input.btn(type='submit')
                            
                    .col-xs-12.col-md-5
                        i.fa.fa-envelope
                        |
                        |
                        a(href='mailto:maplessmann@gmail.com', target='_blank') Me mande um e-mail
                        br
                        i.fa.fa-telegram
                        |
                        |
                        a(href='mailto:maplessmann@gmail.com', target='_blank') Me chame no Telegram


            footer.footer
                p
                    small
                        | Site criado com muito
                        |
                        i.fa.fa-heart
                        |
                        | e café.
                    br
                    small
                        i.fa.fa-code
                        |
                        | disponível no
                        |
                        a(href='https://github.com/maplessmann/personal-website', target='_blank') Github
                        | .
                    
