extends includes/template.pug

//- Mixins
mixin projectItem(url, img, title, text, buttonText)
    .project-item.col-xs-12.col-sm-6.col-md-6
        figure
            a.project-link(href= url, target='_blank', data-button= buttonText)
                img.project-img(src= img, alt='')
            figcaption
                h4.project-title= title
                p.project-text= text

block content
    include includes/header.pug
    
    main.content
        .container
            nav.navbar
                ul.navbar-menu.center-xs.end-sm
                    li.navbar-menu-item
                        a.navbar-menu-link(href='#about') Sobre mim
                    li.navbar-menu-item
                        a.navbar-menu-link(href='#projects') Projetos
                    li.navbar-menu-item
                        a.navbar-menu-link(href='#contact') Contato
            
            section#about.section.myself
                h2.title Um pouco sobre mim
                //- p Meu nome completo é Matheus Plessmann de Oliveira.
                p Eu sou um Desenvolvedor Front End, empenhado em criar interfaces web responsivas, sempre focadas na experiência do usuário, mantendo um código semântico, claro e organizado. Sou formado na FATEC, no curso de Análise e Desenvolvimento de Sistemas.
                
                p Desde que descobri o fantástico mundo do desenvolvimento, não parei de ler, ouvir podcasts e devorar conteúdos sobre desenvolvimento, apenas porque eu amo, amo criar interfaces, amo ficar me perguntando qual será a reação do usuário quando interagir com tal funcionalidade... E o mais legal disso tudo é você dar vida ao layout ou à sua ideia e ver ela funcionando, do jeito que você planejou. 
                
                p
                    | Minhas 
                    strong pricipais habilidades
                    | 
                    | são: HTML5, CSS3, JavaScript, Sass, PugJS, Gulp, jQuery, Git e NPM.
                    br
                    | NodeJS, ReactJS / VueJS e Elm são os meus próximos passos.
                //- p Outras linguagens que eu já me aventurei: Haskell, PHP, MySQL
                //- p 
                    | Gosto muito de ouvir podcasts. O meu favorito é o
                    |
                    a.link(href='http://devnaestrada.com.br/', target='_blank') Devnaestrada
                    |
                    | e também escuto bastante o
                    |
                    a.link(href='https://jovemnerd.com.br/nerdcast/', target='_blank') Nerdcast
                    | . Já a minha linguagem favorita é sem dúvidas o CSS.
                
                
            section#projects.section.projects
                h2.title Meus projetos recentes
                p 
                    | Ao longo desses anos eu já desenvolvi diversos sites e já criei alguns projetos bem legais também. 
                    | Esses são alguns dos trabalhos que eu fiz recentemente:
                .row.projects-row
                    +projectItem('http://triadedaprodutividade.com/mindpro-triad', 'images/project-mindpro.png', 'Evento Mindpro', 'Texto', 'Visitar site')
                    +projectItem('http://triadedaprodutividade.com/plataforma', 'images/project-plataforma-tpr.png', 'Plataforma de cursos', 'Texto', 'Visitar site')
                    +projectItem('http://triadprime.com.br/inscricao-pf', 'images/project-triad-prime.png', 'Triad Prime', 'Texto', 'Visitar site')
                    +projectItem('#', 'images/project-1.jpg', 'Foco em Pediatria', 'Texto', 'Visitar site')
                    //- +projectItem('#', 'images/project-3.jpg', 'Título', 'Texto')
                    //- +projectItem('#', 'images/project-1.jpg', 'Título', 'Texto')
                    
                    
            section#contact.section.contact
                h2.title Entre em contato
                p Se você se interessou pelo meu trabalho e quer falar comigo, me envie uma mensagem pelo formulário abaixo ou entre em contato pelos outros meios.
                .row
                    .col-xs-12.col-md-7
                        form(action='https://formspree.io/maplessmann@gmail.com', method='POST')
                            .input-field
                                input(type='text', name='name')
                                label(for='identificador') Nome
                            .input-field
                                input(type='email', name='_replyto', required)
                                label(for='identificador') Email
                            .input-field
                                textarea(name='message', required)
                                label(for='identificador') Sua mensagem
                            .input-field
                                input.btn(type='submit', value='Enviar mensagem')
                            
                    .col-xs-12.col-md-5
                        p
                            i.fa.fa-envelope
                            |
                            |
                            a.link(href='mailto:maplessmann@gmail.com', target='_blank') Me mande um e-mail
                        p
                            i.fa.fa-telegram
                            |
                            |
                            a.link(href='https://telegram.me/maplessmann', target='_blank') Me chame no Telegram


            footer.footer
                p
                    small
                        | Site criado com muito
                        |
                        i.fa.fa-heart
                        |
                        | e café.
                    br
                    small
                        i.fa.fa-code
                        |
                        | disponível no
                        |
                        a.link(href='https://github.com/maplessmann/matheusplessmann.com', target='_blank') Github
                        | .
                    
