extends includes/template.pug

//- Mixins
mixin projectItem(url, img, title, text, buttonText)
    .project-item.col-xs-12.col-sm-6.col-md-6
        figure
            a.project-link(href= url, target='_blank', data-button= buttonText)
                img.project-img(src= img, alt='')
            figcaption
                h4.project-title= title
                p.project-text= text

block content
    include includes/header.pug
    
    main.content
        .container
            nav.navbar
                //- a.header-logo
                    img.header-logo-image(src='images/logo-matheus-plessmann.svg')
                ul.navbar-menu.center-xs.end-sm
                    li.navbar-menu-item
                        a.navbar-menu-link(href='#about') Sobre mim
                    li.navbar-menu-item
                        a.navbar-menu-link(href='#projects') Projetos
                    li.navbar-menu-item
                        a.navbar-menu-link(href='#contact') Contato
            
            section#about.section.myself
                h2.title Um pouco sobre mim
                p Sou um desenvolvedor Front-End amante da tecnologia e do potencial que ela tem de facilitar as nossas vidas. Tenho um mindset focado em criar uma boa experiência do usuário com a aplicação, por isso eu amo criar interfaces interativas e fluidas, mantendo sempre um código limpo, semântico e escalável.
                
                p Desde que descobri esse fantástico mundo de desenvolvimento, não parei de ler, ouvir podcasts e devorar conteúdos sobre front-end, apenas porque eu amo, amo criar interfaces, amo ficar me perguntando qual será a reação do usuário quando interagir com os componentes da tela. 
                
                p
                    | Minhas 
                    strong pricipais habilidades
                    | 
                    | são: HTML5, CSS3, JavaScript, Sass, PugJS, Gulp, jQuery, Git e NPM.
                    br
                    | NodeJS, ReactJS / VueJS e Elm são os meus próximos passos.
                
                
            section#projects.section.projects
                h2.title Meus projetos recentes
                p 
                    | Ao longo desses anos eu já desenvolvi diversos sites e já criei alguns projetos bem legais também. 
                    | Esses são alguns dos trabalhos que eu fiz recentemente:
                .row.projects-row
                    +projectItem('http://triadedaprodutividade.com/mindpro-triad', 'images/project-mindpro.png', 'Evento Mindpro', 'Site de divulgação do evento Mindpro', 'Visitar site')
                    +projectItem('http://triadedaprodutividade.com/plataforma', 'images/project-plataforma-tpr.png', 'Plataforma de cursos', 'Plataforma do curso Tríade da Produtividade', 'Ver demonstração')
                    +projectItem('http://triadprime.com.br/inscricao-pf', 'images/project-triad-prime.png', 'Triad Prime', 'Página de vendas da plataforma Triad Prime', 'Visitar site')
                    +projectItem('http://saudavelsemneura.com.br', 'images/project-saudavel-sem-neura.jpg', 'Saudável sem neura', 'Página de vendas do curso Saudável sem Neura', 'Visitar site')
                
                //- p
                    | Se você quer ver como é o meu código, da conferida lá no meu
                    |
                    a.link(href='https://github.com/maplessmann') Github
                    |
                    | ou confere as minhas pens lá no
                    |
                    a.link(href='https://codepen.io/maplessmann/') Codepen
                    
                    
            section#contact.section.contact
                h2.title Entre em contato
                p Quer entrar em contato comigo? Você pode me enviar um e-mail pelo formulário abaixo, me chamar no telegram ou mandar uma mensagem para o meu e-mail.
                .row
                    .col-xs-12.col-md-7
                        form(action='https://formspree.io/maplessmann@gmail.com', method='POST')
                            .input-field
                                input(type='text', name='name')
                                label(for='identificador') Nome
                            .input-field
                                input(type='email', name='_replyto', required)
                                label(for='identificador') Email
                            .input-field
                                textarea(name='message', required)
                                label(for='identificador') Sua mensagem
                            .input-field
                                input.btn(type='submit', value='Enviar mensagem')
                            
                    .col-xs-12.col-md-5
                        p
                            i.fa.fa-envelope
                            |
                            |
                            a.link(href='mailto:maplessmann@gmail.com', target='_blank', data-tooltip='Me manda um e-mail') maplessmann@gmail.com
                        p
                            i.fa.fa-telegram
                            |
                            |
                            a.link(href='https://telegram.me/maplessmann', target='_blank', data-tooltip='Me chama lá no telegram :)') @maplessmann


            footer.footer
                p
                    small
                        | Site criado com muito
                        |
                        i.fa.fa-heart
                        |
                        | e café.
                    br
                    small
                        i.fa.fa-code
                        |
                        | disponível no
                        |
                        a.link(href='https://github.com/maplessmann/matheusplessmann.com', target='_blank') Github
                        | .
                    
