// Button
.btn
    background-color: $color-btn
    color: #fff
    font-size: 1rem
    font-weight: 500
    line-height: 1.1
    height: auto
    padding: .7rem 2rem
    box-shadow: none
    border-radius: .4rem
    transition: .3s ease

    &:hover
        background-color: lighten($color-btn, 10%)
        box-shadow: none
