*
    box-sizing: border-box

body
    font-family: 'Open Sans', sans-serif
    color: #5d5d5d
    // color: $color-text

img
    max-width: 100%
    height: auto
    vertical-align: middle

a
    color: $color-link
    text-decoration: none
    transition: .2s

    &:hover
        color: lighten($color-link, 10%)
